body {
  background: #bcbcbc;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 16px;
  color: #333;
}

.container {
  width: 33%;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
}

form {
  padding: 0 10px;
}

label {
  font-size: 12px;
  display: block;
  margin: 10px 0;
}

